*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*Handy*/
.testBorder {
    border: 2px solid red;
}

/*Header*/
header {
    background-image: url(../../images/banner2.webp);
    background-repeat: no-repeat;
    background-size: cover;
    
}
header h1 {
    display: flex;
    justify-content: center;
    padding-bottom: 5em;
}
/*Navigation*/
#mainIndex {
    padding-top: 12em;
    padding-bottom: 5em;
}
.card-grid {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 2em;
    padding: 2em;
}
.itemCard {
  text-align: center;
}

